# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

from statsmodels.stats.weightstats import ztest, ttest_ind

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
print('Callbacks for black-sounding names: {}'.format(sum(data[data.race=='b'].call)))

# number of callbacks for white-sounding names
print('Callbacks for white-sounding names: {}'.format(sum(data[data.race=='w'].call)))

Callbacks for black-sounding names: 157.0
Callbacks for white-sounding names: 235.0

In [4]:
data.race.value_counts()

b    2435
w    2435
Name: race, dtype: int64

In [5]:
data.shape

(4870, 65)

In [6]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

<div class="span5 alert alert-success">
<p>Your answers to Q1 and Q2 here</p>
</div>

## Task 1

A two-sample, *z*-test is appropriate for this particular problem given that each sample size for black-sounding names ($n_B$ = 2435) and white-sounding names ($n_W$ = 2435) are sufficiently large. A _t_-test could also be performed given that the population mean for each group is unknown; however, it will follow the same results of the z-test given the large sample sizes. All criteria of the CLT are applicable in this case.

## Task 2

Assuming a 95% confidence interval, the null hypothesis will only be rejected if the resulting test statistic is more than 1.96 standard deviations away from the mean.

$\mu_B$ = Callback rate for black-sounding names

$\mu_W$ = Callback rate for white-sounding names  




$H_0$: $\mu_b$ = $\mu_w$ (the mean callbacks per group are the same)

$H_A$: $\mu_b$ $\neq$ $\mu_w$ (the mean callbacks per group are different)

## Task 3

#### Frequentist Test (two-sample test)

In [7]:
# Create samples for black and white callbacks, respectively
b = data[data.race=='b'].call
w = data[data.race=='w'].call

# Calculate the mean for each sample
mu_b = np.mean(b) # Callback rate for black-sounding names
mu_w = np.mean(w) # Callback rate for white-sounding names

# Calculate standard error (se) for each sample
se_b = stats.sem(b)
se_w = stats.sem(w)

# Calculate the margin of error (me) for a 95% C.I. per sample
me_b = 1.96*se_b
me_w = 1.96*se_w

# Calculate the upper and lower bounds for each 95% C.I.
upper_b = mu_b + me_b
lower_b = mu_b - me_b
upper_w = mu_w + me_w
lower_w = mu_w - me_w

# Print results
print('Callback rate for \'black-sounding names\': {:4f}'.format(mu_b))
print('Standard Error - black name sample: {:4f}'.format(se_b))
print('95% Confidence Interval for black name sample: {:4f} to {:4f}'.format(lower_b,upper_b))
print()
print('Callback rate for \'white-sounding names\': {:4f}'.format(mu_w))
print('Standard Error - white name sample: {:4f}'.format(se_w))
print('95% Confidence Interval for white name sample: {:4f} to {:4f}'.format(lower_w,upper_w))

Callback rate for 'black-sounding names': 0.064476
Standard Error - black name sample: 0.004978
95% Confidence Interval for black name sample: 0.054719 to 0.074234

Callback rate for 'white-sounding names': 0.096509
Standard Error - white name sample: 0.005985
95% Confidence Interval for white name sample: 0.084778 to 0.108240

In [8]:
# z-test
z_stat,z_pval = ztest(b,w,alternative='two-sided')
print('z-statistic: {:4f}\np-value: {}'.format(abs(z_stat),z_pval))

z-statistic: 4.114705
p-value: 3.8767429116085706e-05

In [9]:
# t-test
t_stat, t_pval = stats.ttest_ind(b,w,equal_var=False)
print('z-statistic: {:4f}\np-value: {}'.format(abs(t_stat),t_pval))

z-statistic: 4.114705
p-value: 3.942941513645935e-05

<div class="span5 alert alert-success">
<p> Your answers to Q4 and Q5 here </p>
</div>

## Task 4

An analysis of the sample data provided indicates that the likelihood an employer will call back a job candidate is highly subject to the employer's perception of the individual's race.

The test statistic--for both the *z*-test and _t_-test--is 4.115, and the p-value is well below the threshold of $\alpha$=0.05. Thus, the null hypothesis must be rejected in favour of the alternative hypothesis at the 95% confidence interval. The standard error for both samples is less than 1%, which shows that their distributions are centered about their means, respectively. It is also worth noting that there is not intersection between the confidence intervals of the two samples. Therefore, it is unlikely that their means will ever be the same.

## Task 5

The results of this analysis--though they may be disconcerting--do not necessarily imply that the perception of race is the *most* important factor on the success rate of a callback. There are several other feature variables within the dataset that have not been taken into consideration, and may have a strong correlation with the callback rate. One can perform a LASSO regression in order to improve feature selection for a future analysis that incorporates a robust subset of predictors.