# Capstone 1: Data Wrangling

### Get source data (from CSV)

In [66]:
# Import packages and modules
import pandas as pd
import numpy as np
import datetime
import sqlite3
from sqlalchemy import create_engine

import dask.dataframe as dd

In [67]:
# Assign file name
file_path = 'data/EMS_Incident_Dispatch_Data.csv'

# Read CSV data into a Pandas dataframe
chunk = 100000
for i in range(10):
    temp_df = pd.read_csv(file_path, header=0, nrows=chunk, skiprows=chunk*i)
#df = dd.read_csv(file_path)

cols = [name.lower() for name in list(df.columns)]
df.columns = cols

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
df.dtypes

cad_incident_id                     int64
incident_datetime                  object
initial_call_type                  object
initial_severity_level_code         int64
final_call_type                    object
final_severity_level_code           int64
first_assignment_datetime          object
valid_dispatch_rspns_time_indc     object
dispatch_response_seconds_qy        int64
first_activation_datetime          object
first_on_scene_datetime            object
valid_incident_rspns_time_indc     object
incident_response_seconds_qy      float64
incident_travel_tm_seconds_qy     float64
first_to_hosp_datetime             object
first_hosp_arrival_datetime        object
incident_close_datetime            object
held_indicator                     object
incident_disposition_code         float64
borough                            object
atom                               object
incident_dispatch_area             object
zipcode                           float64
policeprecinct                    float64
citycouncildistrict               float64
communitydistrict                 float64
communityschooldistrict           float64
congressionaldistrict             float64
reopen_indicator                   object
special_event_indicator            object
standby_indicator                  object
transfer_indicator                 object
dtype: object

### Clean data

In [70]:
# Define function to modify dtypes of series in dataframe object
def modify_dtype(df):
    """
    Change the dtype of select columns in 
    dataframe object based on its implied value
    """
    
    # Create list of all columns that contain time duration
    list_of_duration_cols = [name for name in list(df.columns) \
                             if 'seconds' in str(name).lower()]

    # Convert dtypes for each element in list to numeric
    for name in list_of_duration_cols:
        df[name]=pd.to_numeric(df[name])
        
    # Create list of all columns that contain ISO8601 datetime
    list_of_datetime_cols = [name for name in list(df.columns) \
                             if 'datetime' in str(name).lower()]

    # Convert dtypes for each element in list to datetime
    for name in list_of_datetime_cols:
        df[name]=pd.to_datetime(df[name])
    
    return df

In [71]:
# Define function to drop columns from dataframe object
def drop_from_df(df):
    """
    Remove columns from dataframe object 
    that are not required for analysis
    """
    
    # Drop all rows with missing value for 'incident_disposition_code'
    df = df.dropna(subset=['incident_disposition_code'])
    
    # Drop all columns that contain district or precinct data (geographic zones)
    list_of_zone_cols = [name for name in list(df.columns) \
                         if ('district' in str(name).lower() or name=='policeprecinct')]
    df.drop(list_of_zone_cols,axis=1)
    
    # Drop all columns that contain incident indicator data
    list_of_indicator_cols = [name for name in list(df.columns) \
                              if 'indicator' in str(name).lower() and name !='held_indicator']
    df.drop(list_of_indicator_cols,axis=1)
    
    return df

In [72]:
# Clean dataframe object for analysis
df = modify_dtype(df)
df = drop_from_df(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98782 entries, 0 to 99999
Data columns (total 32 columns):
cad_incident_id                   98782 non-null int64
incident_datetime                 98782 non-null datetime64[ns]
initial_call_type                 98782 non-null object
initial_severity_level_code       98782 non-null int64
final_call_type                   98782 non-null object
final_severity_level_code         98782 non-null int64
first_assignment_datetime         98782 non-null datetime64[ns]
valid_dispatch_rspns_time_indc    98782 non-null object
dispatch_response_seconds_qy      98782 non-null int64
first_activation_datetime         98571 non-null datetime64[ns]
first_on_scene_datetime           96683 non-null datetime64[ns]
valid_incident_rspns_time_indc    98782 non-null object
incident_response_seconds_qy      96679 non-null float64
incident_travel_tm_seconds_qy     96683 non-null float64
first_to_hosp_datetime            73498 non-null datetime64[ns]
first_hosp_arrival_datetime       72902 non-null datetime64[ns]
incident_close_datetime           98782 non-null datetime64[ns]
held_indicator                    98782 non-null object
incident_disposition_code         98782 non-null float64
borough                           98782 non-null object
atom                              4 non-null object
incident_dispatch_area            98782 non-null object
zipcode                           96350 non-null float64
policeprecinct                    96357 non-null float64
citycouncildistrict               96296 non-null float64
communitydistrict                 96357 non-null float64
communityschooldistrict           96341 non-null float64
congressionaldistrict             96296 non-null float64
reopen_indicator                  98782 non-null object
special_event_indicator           98782 non-null object
standby_indicator                 98782 non-null object
transfer_indicator                98782 non-null object
dtypes: datetime64[ns](7), float64(9), int64(4), object(12)
memory usage: 24.9+ MB

In [73]:
df.dtypes

cad_incident_id                            int64
incident_datetime                 datetime64[ns]
initial_call_type                         object
initial_severity_level_code                int64
final_call_type                           object
final_severity_level_code                  int64
first_assignment_datetime         datetime64[ns]
valid_dispatch_rspns_time_indc            object
dispatch_response_seconds_qy               int64
first_activation_datetime         datetime64[ns]
first_on_scene_datetime           datetime64[ns]
valid_incident_rspns_time_indc            object
incident_response_seconds_qy             float64
incident_travel_tm_seconds_qy            float64
first_to_hosp_datetime            datetime64[ns]
first_hosp_arrival_datetime       datetime64[ns]
incident_close_datetime           datetime64[ns]
held_indicator                            object
incident_disposition_code                float64
borough                                   object
atom                                      object
incident_dispatch_area                    object
zipcode                                  float64
policeprecinct                           float64
citycouncildistrict                      float64
communitydistrict                        float64
communityschooldistrict                  float64
congressionaldistrict                    float64
reopen_indicator                          object
special_event_indicator                   object
standby_indicator                         object
transfer_indicator                        object
dtype: object

### Restructure core dataframe object

In [76]:
# CREATE PANDAS SERIES FOR TARGET VARIABLE: patient_died
df['patient_died'] = np.logical_or(df['incident_disposition_code'] == 83,df['incident_disposition_code'] == 96)

# Create separate columns for the year and month of the incident
df['incident_year'] = pd.DatetimeIndex(df['incident_datetime']).year
df['incident_month'] = pd.DatetimeIndex(df['incident_datetime']).month

# Reorder dataframe columns
col_order = ['incident_year','incident_month','cad_incident_id',\
             'incident_datetime','borough','zipcode',\
             'incident_dispatch_area','held_indicator',\
             'initial_call_type','initial_severity_level_code',\
             'final_call_type','final_severity_level_code',\
             'first_assignment_datetime','valid_dispatch_rspns_time_indc',\
             'dispatch_response_seconds_qy','first_activation_datetime',\
             'first_on_scene_datetime','valid_incident_rspns_time_indc',\
             'incident_response_seconds_qy','incident_travel_tm_seconds_qy',\
             'first_to_hosp_datetime','first_hosp_arrival_datetime',\
             'incident_close_datetime',
             'incident_disposition_code','patient_died']
df=df[col_order]

# Create a multindex on incident_year and incident_month
df.set_index(['incident_year','incident_month'])

                              cad_incident_id   incident_datetime  \
incident_year incident_month
2013          1                     130010001 2013-01-01 00:00:04
              1                     130010002 2013-01-01 00:00:19
              1                     130010004 2013-01-01 00:01:04
              1                     130010005 2013-01-01 00:01:16
              1                     130010006 2013-01-01 00:01:26
              1                     130010007 2013-01-01 00:01:35
              1                     130010008 2013-01-01 00:01:52
              1                     130010009 2013-01-01 00:02:11
              1                     130010010 2013-01-01 00:02:56
              1                     130010011 2013-01-01 00:03:12
              1                     130010012 2013-01-01 00:03:12
              1                     130010013 2013-01-01 00:03:29
              1                     130010014 2013-01-01 00:03:41
              1                     130010015 2013-01-01 00:03:47
              1                     130010016 2013-01-01 00:05:07
              1                     130010017 2013-01-01 00:05:08
              1                     130010018 2013-01-01 00:05:19
              1                     130010019 2013-01-01 00:05:37
              1                     130010020 2013-01-01 00:05:45
              1                     130010022 2013-01-01 00:05:52
              1                     130010023 2013-01-01 00:06:12
              1                     130010024 2013-01-01 00:06:30
              1                     130010025 2013-01-01 00:06:52
              1                     130010026 2013-01-01 00:07:22
              1                     130010027 2013-01-01 00:07:28
              1                     130010028 2013-01-01 00:07:31
              1                     130010029 2013-01-01 00:07:33
              1                     130010030 2013-01-01 00:07:46
              1                     130010031 2013-01-01 00:08:22
              1                     130010032 2013-01-01 00:08:26
...                                       ...                 ...
              1                     130281038 2013-01-28 09:34:16
              1                     130281039 2013-01-28 09:34:21
              1                     130281040 2013-01-28 09:34:24
              1                     130281041 2013-01-28 09:34:30
              1                     130281042 2013-01-28 09:34:43
              1                     130281043 2013-01-28 09:35:12
              1                     130281044 2013-01-28 09:35:14
              1                     130281045 2013-01-28 09:35:37
              1                     130281046 2013-01-28 09:36:13
              1                     130281048 2013-01-28 09:36:22
              1                     130281049 2013-01-28 09:36:43
              1                     130281050 2013-01-28 09:36:46
              1                     130281051 2013-01-28 09:36:58
              1                     130281052 2013-01-28 09:37:04
              1                     130281672 2013-01-28 12:38:13
              1                     130281054 2013-01-28 09:37:39
              1                     130281055 2013-01-28 09:38:25
              1                     130281056 2013-01-28 09:38:30
              1                     130281057 2013-01-28 09:38:48
              1                     130281058 2013-01-28 09:38:58
              1                     130281059 2013-01-28 09:39:01
              1                     130281060 2013-01-28 09:39:05
              1                     130281061 2013-01-28 09:39:15
              1                     130281062 2013-01-28 09:39:31
              1                     130281063 2013-01-28 09:40:24
              1                     130281064 2013-01-28 09:40:31
              1                     130281066 2013-01-28 09:41:51
              1                     130281067 2013-01-28 09:42:13
              1                     130281068 2013-01-28 09:42:29
              1                     130281070 2013-01-28 09:42:51

                                               borough  zipcode  \
incident_year incident_month
2013          1                                  BRONX  10472.0
              1                                  BRONX  10454.0
              1                                 QUEENS  11418.0
              1                                  BRONX  10453.0
              1                                  BRONX  10457.0
              1                              MANHATTAN  10017.0
              1               RICHMOND / STATEN ISLAND  10306.0
              1               RICHMOND / STATEN ISLAND  10301.0
              1                              MANHATTAN  10013.0
              1                                  BRONX  10467.0
              1                              MANHATTAN      NaN
              1                              MANHATTAN  10010.0
              1                               BROOKLYN  11203.0
              1                              MANHATTAN  10001.0
              1                               BROOKLYN  11206.0
              1                                  BRONX  10462.0
              1                                  BRONX  10461.0
              1                               BROOKLYN  11203.0
              1                                  BRONX  10458.0
              1                                  BRONX  10472.0
              1                              MANHATTAN  10036.0
              1                               BROOKLYN  11233.0
              1                               BROOKLYN  11220.0
              1                               BROOKLYN  11217.0
              1                              MANHATTAN  10033.0
              1                               BROOKLYN  11211.0
              1                               BROOKLYN  11204.0
              1                              MANHATTAN  10036.0
              1                               BROOKLYN  11205.0
              1                                  BRONX  10458.0
...                                                ...      ...
              1                               BROOKLYN  11212.0
              1                                  BRONX  10459.0
              1                                  BRONX  10455.0
              1                                  BRONX  10462.0
              1                               BROOKLYN  11216.0
              1                                  BRONX  10456.0
              1               RICHMOND / STATEN ISLAND  10314.0
              1                               BROOKLYN  11211.0
              1                                  BRONX  10460.0
              1                               BROOKLYN  11203.0
              1                                  BRONX  10459.0
              1                                 QUEENS  11691.0
              1                              MANHATTAN  10022.0
              1                                  BRONX  10453.0
              1                                  BRONX  10466.0
              1                                 QUEENS  11435.0
              1                                  BRONX  10467.0
              1                                  BRONX  10456.0
              1                               BROOKLYN  11234.0
              1                               BROOKLYN  11212.0
              1                               BROOKLYN  11217.0
              1                                  BRONX  10457.0
              1                                  BRONX  10458.0
              1                               BROOKLYN  11208.0
              1                               BROOKLYN  11221.0
              1                                  BRONX  10459.0
              1               RICHMOND / STATEN ISLAND  10302.0
              1                              MANHATTAN  10035.0
              1                               BROOKLYN  11207.0
              1                              MANHATTAN  10031.0

                             incident_dispatch_area held_indicator  \
incident_year incident_month
2013          1                                  B3              N
              1                                  B1              N
              1                                  Q3              N
              1                                  B2              N
              1                                  B2              N
              1                                  M3              N
              1                                  S2              N
              1                                  S1              N
              1                                  M1              N
              1                                  B4              N
              1                                  X2              N
              1                                  M2              Y
              1                                  K3              N
              1                                  M3              Y
              1                                  K5              N
              1                                  B3              N
              1                                  B3              N
              1                                  K3              N
              1                                  B2              N
              1                                  B3              N
              1                                  M3              N
              1                                  K4              N
              1                                  K2              N
              1                                  K6              N
              1                                  M9              N
              1                                  K7              N
              1                                  K2              N
              1                                  M3              Y
              1                                  K6              N
              1                                  B5              N
...                                             ...            ...
              1                                  K4              N
              1                                  B1              N
              1                                  B1              N
              1                                  B3              N
              1                                  K5              N
              1                                  B2              N
              1                                  S2              N
              1                                  K7              N
              1                                  B1              N
              1                                  K3              N
              1                                  B1              N
              1                                  Q1              N
              1                                  M3              N
              1                                  B2              N
              1                                  B4              N
              1                                  Q5              N
              1                                  B4              N
              1                                  B2              N
              1                                  K4              N
              1                                  K4              N
              1                                  K6              N
              1                                  B2              N
              1                                  B2              N
              1                                  K4              N
              1                                  K7              N
              1                                  B1              N
              1                                  S1              N
              1                                  M7              N
              1                                  K7              N
              1                                  M9              N

                             initial_call_type  initial_severity_level_code  \
incident_year incident_month
2013          1                         RESPIR                            4
              1                           CARD                            3
              1                         ARREST                            1
              1                           SICK                            6
              1                         INJURY                            5
              1                         ASTHMB                            2
              1                         INJURY                            5
              1                            EDP                            7
              1                            UNC                            2
              1                         DIFFBR                            2
              1                         ASTHMB                            2
              1                         RESPIR                            4
              1                         MCI21P                            2
              1                         INJURY                            5
              1                         MVAINJ                            4
              1                          ABDPN                            5
              1                          ABDPN                            5
              1                         INJURY                            5
              1                           DRUG                            4
              1                            EDP                            7
              1                            UNC                            2
              1                         STATEP                            2
              1                         STNDBY                            8
              1                           SHOT                            3
              1                           DRUG                            4
              1                         ARREST                            1
              1                            EDP                            7
              1                           DRUG                            4
              1                          ABDPN                            5
              1                           CARD                            3
...                                        ...                          ...
              1                          ABDPN                            5
              1                         DIFFBR                            2
              1                         DIFFBR                            2
              1                         ASTHMB                            2
              1                         ARREST                            1
              1                         ALTMEN                            3
              1                           SICK                            6
              1                         DIFFBR                            2
              1                         ARREST                            1
              1                           SICK                            6
              1                           SICK                            6
              1                          ABDPN                            5
              1                         INJURY                            4
              1                           SICK                            6
              1                           SICK                            6
              1                          ABDPN                            5
              1                         DIFFBR                            2
              1                           CARD                            3
              1                           CARD                            3
              1                         INJURY                            5
              1                         INJURY                            5
              1                           SICK                            6
              1                           SICK                            6
              1                         INJURY                            5
              1                         DIFFBR                            2
              1                            EDP                            7
              1                         ALTMEN                            3
              1                         INJURY                            5
              1                         INJURY                            5
              1                         INJURY                            5

                             final_call_type  final_severity_level_code  \
incident_year incident_month
2013          1                       RESPIR                          4
              1                         CARD                          3
              1                       ARREST                          1
              1                         SICK                          6
              1                       INJURY                          5
              1                       ASTHMB                          2
              1                       INJURY                          5
              1                         DRUG                          4
              1                          UNC                          2
              1                       DIFFBR                          2
              1                       ASTHMB                          2
              1                       RESPIR                          4
              1                       MCI21P                          2
              1                       INJURY                          5
              1                       MVAINJ                          4
              1                        ABDPN                          5
              1                        ABDPN                          5
              1                       INJURY                          5
              1                         DRUG                          4
              1                          EDP                          7
              1                          UNC                          2
              1                       STATEP                          2
              1                       STNDBY                          8
              1                         SHOT                          3
              1                         DRUG                          4
              1                       ARREST                          1
              1                          EDP                          7
              1                         DRUG                          4
              1                        ABDPN                          5
              1                         CARD                          3
...                                      ...                        ...
              1                        ABDPN                          5
              1                       DIFFBR                          2
              1                       DIFFBR                          2
              1                       ASTHMB                          2
              1                       ARREST                          1
              1                       ALTMEN                          3
              1                         SICK                          6
              1                       DIFFBR                          2

In [77]:
df['incident_disposition_code'].value_counts()

82.0    73428
93.0    10067
90.0     7282
87.0     3310
96.0     2769
91.0      964
83.0      860
94.0       93
95.0        8
92.0        1
Name: incident_disposition_code, dtype: int64

In [78]:
df['patient_died'].value_counts()

False    95153
True      3629
Name: patient_died, dtype: int64

In [ ]:
# Export dataframe to CSV
df.to_csv('data/clean_df.csv',compression='gzip')

### Create dataframes for each month

In [82]:
# Define function to create month-specific dataframe
def getIncidentsByMonth(month,df):
    """
    Create a new dataframe from a core dataframe 
    sliced by the month where an incident occured
    """
    month_df = df.loc[(1,1),:]    # Select all records for specified month
    return month_df

In [84]:
jan_df = df.iloc[(slice(None),1):]
jan_df.tail()

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [(slice(None, None, None), 1)] of <class 'tuple'>