# Capstone 1: Data Wrangling

### Data Acquisition: Get source data from NYC Open Data API

In [1]:
# Import packages and modules
import pandas as pd
import numpy as np
import datetime

In [2]:
# Import Python library for Socrata Open Data API
from sodapy import Socrata

# Import dataset via context manager 
with Socrata("data.cityofnewyork.us", None) as client:
    results = client.get("66ae-7zpy", limit=2000000,offset=0)

df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

### Data Cleansing

In [3]:
# Define function to modify dtypes of series in dataframe object
def modify_dtype(df):
    """
    Change the dtype of select columns in 
    dataframe object based on its implied value
    """
    
    # Create list of all columns that contain time duration
    list_of_duration_cols = [name for name in list(df.columns) 
                             if 'seconds' in str(name).lower()]

    # Convert dtypes for each element in list to numeric
    for name in list_of_duration_cols:
        df[name]=pd.to_numeric(df[name])
        
    # Create list of all columns that contain ISO8601 datetime
    list_of_datetime_cols = [name for name in list(df.columns) 
                             if 'datetime' in str(name).lower()]

    # Convert dtypes for each element in list to datetime
    for name in list_of_datetime_cols:
        df[name]=pd.to_datetime(df[name])
    
    return df

In [4]:
# Define function to remove rows and columns from dataframe object
def drop_from_df(df):
    """
    Remove rows and columns from dataframe object 
    that are not required for analysis
    """
    
    # Drop all rows with missing value for 'incident_disposition_code'
    df.dropna(subset=['incident_disposition_code','incident_datetime'])
    
    # Drop all columns that contain district or precinct data (geographic zones)
    list_of_zone_cols = [name for name in list(df.columns) 
                         if ('district' in str(name).lower() or name=='policeprecinct')]
    df.drop(list_of_zone_cols,axis=1,inplace=True)
    
    # Drop all columns that contain incident indicator data
    list_of_indicator_cols = [name for name in list(df.columns) 
                              if 'indicator' in str(name).lower() and name !='held_indicator']
    df.drop(list_of_indicator_cols,axis=1,inplace=True)
    
    return df

In [5]:
# Define function to redesign dataframe object
def redesign_df(df):
    """
    Redesign dataframe object
    """
    # CREATE PANDAS SERIES FOR TARGET VARIABLE: patient_died
    df['patient_died'] = np.logical_or(df['incident_disposition_code'] == '83',\
                                   df['incident_disposition_code'] == '96')

    # Create separate columns for the year and month of the incident
    df['incident_year'] = pd.DatetimeIndex(df['incident_datetime']).year
    df['incident_month'] = pd.DatetimeIndex(df['incident_datetime']).month

    # Reorder dataframe columns
    col_order = ['incident_year','incident_month','cad_incident_id',\
                 'incident_datetime','borough','zipcode',\
                 'incident_dispatch_area','held_indicator',\
                 'initial_call_type','initial_severity_level_code',\
                 'final_call_type','final_severity_level_code',\
                 'first_assignment_datetime','valid_dispatch_rspns_time_indc',\
                 'dispatch_response_seconds_qy','first_activation_datetime',\
                 'first_on_scene_datetime','valid_incident_rspns_time_indc',\
                 'incident_response_seconds_qy','incident_travel_tm_seconds_qy',\
                 'first_to_hosp_datetime','first_hosp_arrival_datetime',\
                 'incident_close_datetime',
                 'incident_disposition_code','patient_died']
    df=df[col_order]
    
    return df

### Joining Data

In [6]:
# Clean dataframe object for analysis
df = modify_dtype(df)
print('Modified dtypes of series in dataframe object...')
df = drop_from_df(df)
print('Removed erroneous rows and columns from dataframe...')
df = redesign_df(df)
print('Redesigned dataframe...')

Modified dtypes of series in dataframe object...
Removed erroneous rows and columns from dataframe...
Dataframe redesigned...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 25 columns):
incident_year                     int64
incident_month                    int64
cad_incident_id                   object
incident_datetime                 datetime64[ns]
borough                           object
zipcode                           object
incident_dispatch_area            object
held_indicator                    object
initial_call_type                 object
initial_severity_level_code       object
final_call_type                   object
final_severity_level_code         object
first_assignment_datetime         datetime64[ns]
valid_dispatch_rspns_time_indc    object
dispatch_response_seconds_qy      int64
first_activation_datetime         datetime64[ns]
first_on_scene_datetime           datetime64[ns]
valid_incident_rspns_time_indc    object
incident_response_seconds_qy      float64
incident_travel_tm_seconds_qy     float64
first_to_hosp_datetime            datetime64[ns]
first_hosp_arrival_datetime       datetime64[ns]
incident_close_datetime           datetime64[ns]
incident_disposition_code         object
patient_died                      bool
dtypes: bool(1), datetime64[ns](7), float64(2), int64(3), object(12)
memory usage: 368.1+ MB

In [8]:
# Create a multindex on incident_year and incident_month
df.set_index(['incident_year','incident_month'])

                             cad_incident_id   incident_datetime  \
incident_year incident_month
2013          1                    130010001 2013-01-01 00:00:04
              1                    130010002 2013-01-01 00:00:19
              1                    130010004 2013-01-01 00:01:04
              1                    130010005 2013-01-01 00:01:16
              1                    130010006 2013-01-01 00:01:26
              1                    130010007 2013-01-01 00:01:35
              1                    130010008 2013-01-01 00:01:52
              1                    130010009 2013-01-01 00:02:11
              1                    130010010 2013-01-01 00:02:56
              1                    130010011 2013-01-01 00:03:12
              1                    130010012 2013-01-01 00:03:12
              1                    130010013 2013-01-01 00:03:29
              1                    130010014 2013-01-01 00:03:41
              1                    130010015 2013-01-01 00:03:47
              1                    130010016 2013-01-01 00:05:07
              1                    130010017 2013-01-01 00:05:08
              1                    130010018 2013-01-01 00:05:19
              1                    130010019 2013-01-01 00:05:37
              1                    130010020 2013-01-01 00:05:45
              1                    130010022 2013-01-01 00:05:52
              1                    130010023 2013-01-01 00:06:12
              1                    130010024 2013-01-01 00:06:30
              1                    130010025 2013-01-01 00:06:52
              1                    130010026 2013-01-01 00:07:22
              1                    130010027 2013-01-01 00:07:28
              1                    130010028 2013-01-01 00:07:31
              1                    130010029 2013-01-01 00:07:33
              1                    130010030 2013-01-01 00:07:46
              1                    130010031 2013-01-01 00:08:22
              1                    130010032 2013-01-01 00:08:26
...                                      ...                 ...
2014          7                    141864075 2014-07-05 22:56:14
              7                    141864076 2014-07-05 22:56:32
              7                    141864077 2014-07-05 22:56:34
              7                    141864079 2014-07-05 22:56:46
              7                    141864080 2014-07-05 22:56:50
              7                    141864081 2014-07-05 22:57:01
              7                    141864082 2014-07-05 22:57:04
              7                    141864083 2014-07-05 22:57:13
              7                    141864084 2014-07-05 22:57:31
              7                    141864085 2014-07-05 22:58:19
              7                    141864086 2014-07-05 22:58:37
              7                    141864087 2014-07-05 22:58:57
              7                    141864088 2014-07-05 22:59:00
              7                    141864089 2014-07-05 22:59:06
              7                    141864090 2014-07-05 22:59:25
              7                    141864091 2014-07-05 22:59:44
              7                    141864092 2014-07-05 23:00:02
              7                    141864093 2014-07-05 23:00:06
              7                    141864094 2014-07-05 23:00:08
              7                    141864095 2014-07-05 23:00:10
              7                    141864096 2014-07-05 23:00:24
              7                    141864097 2014-07-05 23:00:29
              7                    141864098 2014-07-05 23:00:36
              7                    141864099 2014-07-05 23:00:42
              7                    141864100 2014-07-05 23:01:12
              7                    141864101 2014-07-05 23:01:16
              7                    141864102 2014-07-05 23:01:28
              7                    141864103 2014-07-05 23:01:31
              7                    141864104 2014-07-05 23:01:49
              7                    141864106 2014-07-05 23:02:07

                                               borough zipcode  \
incident_year incident_month
2013          1                                  BRONX   10472
              1                                  BRONX   10454
              1                                 QUEENS   11418
              1                                  BRONX   10453
              1                                  BRONX   10457
              1                              MANHATTAN   10017
              1               RICHMOND / STATEN ISLAND   10306
              1               RICHMOND / STATEN ISLAND   10301
              1                              MANHATTAN   10013
              1                                  BRONX   10467
              1                              MANHATTAN     NaN
              1                              MANHATTAN   10010
              1                               BROOKLYN   11203
              1                              MANHATTAN   10001
              1                               BROOKLYN   11206
              1                                  BRONX   10462
              1                                  BRONX   10461
              1                               BROOKLYN   11203
              1                                  BRONX   10458
              1                                  BRONX   10472
              1                              MANHATTAN   10036
              1                               BROOKLYN   11233
              1                               BROOKLYN   11220
              1                               BROOKLYN   11217
              1                              MANHATTAN   10033
              1                               BROOKLYN   11211
              1                               BROOKLYN   11204
              1                              MANHATTAN   10036
              1                               BROOKLYN   11205
              1                                  BRONX   10458
...                                                ...     ...
2014          7                              MANHATTAN   10025
              7                               BROOKLYN   11212
              7                                 QUEENS   11419
              7                               BROOKLYN   11224
              7                              MANHATTAN   10031
              7                                  BRONX   10462
              7                              MANHATTAN   10028
              7                              MANHATTAN   10016
              7                              MANHATTAN   10040
              7                               BROOKLYN   11226
              7                                  BRONX     NaN
              7                               BROOKLYN   11210
              7                                 QUEENS   11419
              7                                 QUEENS   11693
              7                                  BRONX   10468
              7                                  BRONX   10460
              7                                 QUEENS   11374
              7                               BROOKLYN   11223
              7                                 QUEENS   11354
              7                                 QUEENS   11413
              7                              MANHATTAN   10016
              7                               BROOKLYN   11206
              7                              MANHATTAN   10013
              7                                  BRONX   10474
              7                                  BRONX   10456
              7               RICHMOND / STATEN ISLAND   10304
              7                                 QUEENS   11355
              7                                  BRONX   10457
              7                               BROOKLYN   11222
              7                                  BRONX   10471

                             incident_dispatch_area held_indicator  \
incident_year incident_month
2013          1                                  B3              N
              1                                  B1              N
              1                                  Q3              N
              1                                  B2              N
              1                                  B2              N
              1                                  M3              N
              1                                  S2              N
              1                                  S1              N
              1                                  M1              N
              1                                  B4              N
              1                                  X2              N
              1                                  M2              Y
              1                                  K3              N
              1                                  M3              Y
              1                                  K5              N
              1                                  B3              N
              1                                  B3              N
              1                                  K3              N
              1                                  B2              N
              1                                  B3              N
              1                                  M3              N
              1                                  K4              N
              1                                  K2              N
              1                                  K6              N
              1                                  M9              N
              1                                  K7              N
              1                                  K2              N
              1                                  M3              Y
              1                                  K6              N
              1                                  B5              N
...                                             ...            ...
2014          7                                  M4              N
              7                                  K4              N
              7                                  Q3              Y
              7                                  K4              N
              7                                  M6              N
              7                                  B3              N
              7                                  M5              N
              7                                  M2              Y
              7                                  M9              N
              7                                  K3              N
              7                                  B4              N
              7                                  K1              N
              7                                  Q3              Y
              7                                  Q1              Y
              7                                  B5              N
              7                                  B2              N
              7                                  Q4              N
              7                                  K1              N
              7                                  Q7              N
              7                                  Q2              Y
              7                                  M2              Y
              7                                  K5              N
              7                                  M1              N
              7                                  B1              N
              7                                  B1              N
              7                                  S1              N
              7                                  Q7              N
              7                                  B2              N
              7                                  K7              N
              7                                  B5              N

                             initial_call_type initial_severity_level_code  \
incident_year incident_month
2013          1                         RESPIR                           4
              1                           CARD                           3
              1                         ARREST                           1
              1                           SICK                           6
              1                         INJURY                           5
              1                         ASTHMB                           2
              1                         INJURY                           5
              1                            EDP                           7
              1                            UNC                           2
              1                         DIFFBR                           2
              1                         ASTHMB                           2
              1                         RESPIR                           4
              1                         MCI21P                           2
              1                         INJURY                           5
              1                         MVAINJ                           4
              1                          ABDPN                           5
              1                          ABDPN                           5
              1                         INJURY                           5
              1                           DRUG                           4
              1                            EDP                           7
              1                            UNC                           2
              1                         STATEP                           2
              1                         STNDBY                           8
              1                           SHOT                           3
              1                           DRUG                           4
              1                         ARREST                           1
              1                            EDP                           7
              1                           DRUG                           4
              1                          ABDPN                           5
              1                           CARD                           3
...                                        ...                         ...
2014          7                            EDP                           7
              7                         DIFFBR                           2
              7                         INJURY                           5
              7                           SICK                           6
              7                            EDP                           7
              7                           SICK                           6
              7                         INJURY                           5
              7                           DRUG                           4
              7                         ARREST                           1
              7                           SHOT                           3
              7                         MVAINJ                           4
              7                         INJURY                           5
              7                         INJURY                           5
              7                           SICK                           6
              7                         STNDBY                           8
              7                         UNKNOW                           4
              7                           DRUG                           4
              7                            EDP                           7
              7                         INBLED                           3
              7                         INJURY                           5
              7                         INJURY                           5
              7                           DRUG                           4
              7                           SICK                           6
              7                            UNC                           2
              7                         UNKNOW                           4
              7                         INJURY                           5
              7                            CVA                           4
              7                            UNC                           2
              7                           DRUG                           4
              7                           DRUG                           4

                             final_call_type final_severity_level_code  \
incident_year incident_month
2013          1                       RESPIR                         4
              1                         CARD                         3
              1                       ARREST                         1
              1                         SICK                         6
              1                       INJURY                         5
              1                       ASTHMB                         2
              1                       INJURY                         5
              1                         DRUG                         4
              1                          UNC                         2
              1                       DIFFBR                         2
              1                       ASTHMB                         2
              1                       RESPIR                         4
              1                       MCI21P                         2
              1                       INJURY                         5
              1                       MVAINJ                         4
              1                        ABDPN                         5
              1                        ABDPN                         5
              1                       INJURY                         5
              1                         DRUG                         4
              1                          EDP                         7
              1                          UNC                         2
              1                       STATEP                         2
              1                       STNDBY                         8
              1                         SHOT                         3
              1                         DRUG                         4
              1                       ARREST                         1
              1                          EDP                         7
              1                         DRUG                         4
              1                        ABDPN                         5
              1                         CARD                         3
...                                      ...                       ...
2014          7                          EDP                         7
              7                       DIFFBR                         2
              7                       INJURY                         5
              7                         SICK                         6
              7                         DRUG                         4
              7                       MEDRXN                         5
              7                       INJURY                         5
              7                         DRUG                         4
              7                       ARREST                         1
              7                         SHOT                         3
              7                       MVAINJ                         4

In [9]:
df['incident_disposition_code'].value_counts()

82    1430491
93     207216
90     163448
87      77672
96      64358
91      20769
83      14199
94       1723
95        183
92         12
Name: incident_disposition_code, dtype: int64

In [10]:
df['patient_died'].value_counts()

False    1921443
True       78557
Name: patient_died, dtype: int64

In [12]:
# Export dataframe to CSV
print('Exporting dataframe to CSV...')
df.to_csv('data/clean_comp_df.csv',index=False,compression='gzip')
print('Dataframe successfully exported to CSV.')